spring:
  application:
    name: url-redirection-service

  datasource:
    url: jdbc:postgresql://localhost:5432/url_redirection
    username: postgres
    password: postgres

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080